<h1>About cool bikes</h1>
<p>At cool bikes we are all about the cool ride for all the cool gals and urban cowboys out there. Our bikes are all made with love, rainbows and unicorns. May the magic of cool bikes be with you!</p>
